/* Styles go here */

/* ----------------------- CSS Reset --------------------------------*/

html {
  font-size: 62.5%;
  box-sizing: border-box; /*changes the box model by ensuring that the padding and border of an element no longer increases its width.*/
}

/*The ::before selector inserts something before the content of each selected element(s).
Use the ::after selector to insert something after the content.*/

*, *::before, *::after { /*This sets the margin and padding of every HTML element to zero */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* ------------------------ End CSS reset ------------------------------*/

/*center the calculator on the page and give it a border and fixed width.*/
#calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

/*Style the calculator screen */
.calculator-screen {
  width: 100%;
   font-size: 5rem;
   height: 80px;
   border: none;
   background-color: #252525;
   color: #fff;
   text-align: right;
   padding-right: 20px;
   padding-left: 10px;
}

button {
 height: 60px;
 background-color: #fff;
 border-radius: 3px;
 border: 1px solid #c4c4c4;
 background-color: transparent;
 font-size: 2rem;
 color: #333;
 background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
 box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
 text-shadow: 0 1px rgba(255,255,255,.4);
}

/* :hover --> selector to change the style of a button when you move the mouse over it.*/
button:hover {
    background-color: #A2FAC1; /* change Background color when you move the mouse over button.*/
    color: black; /*change color numbers, when you move the mouse over button.*/
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-row-start: 2;  /*Positioning button equal   = grid-row: 2 / 6;*/
  grid-row-end: 6;    /*Positioning button equal*/
  grid-column-start: 4; /*Positioning button equal  = grid-column: 4 / 5;*/
  grid-column-end: 5; /*Positioning button equal*/
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

/* ------------ CSS Grid ------------------*/
.calculator-keys {
  display: grid; /*grid container*/
  grid-template-columns: 1fr 1fr 1fr 1fr; /*we need to place the keys in four columns of equal width.*/
                                          /*The fr unit is a new form of measurement in CSS.
                                          It represents a fraction of the available space in a grid container.
                                          So 1fr means 1 part of the available space, 2fr means 2 parts, and so on.*/
                                          /*1fr 1fr 1fr 1fr = repeat(4, 1fr);*/

  grid-row-gap: 20px;                     /*add some space between the butttons == grid-gap: 20px 20px*/
  grid-column-gap: 20px;
  padding: 20px;
}
/*The direct descendants of the grid container are known as grid items(buttons).
Each grid item takes up the full width of the grid container*/

/*Defining Rows and Columns*/
