/* Styles go here */

/* ----------------------- CSS Reset --------------------------------*/

html {
  font-size: 62.5%;
  box-sizing: border-box; /*changes the box model by ensuring that the padding and border of an element no longer increases its width.*/
}

/*The ::before selector inserts something before the content of each selected element(s).
Use the ::after selector to insert something after the content.*/

*, *::before, *::after { /*This sets the margin and padding of every HTML element to zero */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* ------------------------ End CSS reset ------------------------------*/

/*center the calculator on the page and give it a border and fixed width.*/
#marco {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

/*Style the calculator screen */
.calculator-screen {
  width: 100%;
   font-size: 5rem;
   height: 80px;
   border: none;
   background-color: #252525;
   color: #fff;
   text-align: right;
   padding-right: 20px;
   padding-left: 10px;
}

.numbers {
  display: block;
  padding: 6px 15px;
  font-size: 1.5rem;
  cursor: pointer; /*Mouse over the words to change the cursor*/
  text-align: center;
  text-decoration: none;
  outline: none;/*An outline is a line that is drawn around elements (outside the borders) to make the element "stand out".*/
  color: black; /*numbers color*/
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  transition-duration: 0.4s; /*determine the speed of the "hover" effect*/
}

/* :hover --> selector to change the style of a button when you move
the mouse over it.*/
.numbers:hover {
    background-color: #A2FAC1; /* change Background color when you move
the mouse over button.*/
    color: black; /*change color numbers, when you move
the mouse over button.*/
}

/*---- Numbers button Positions ------------------------*/
#one {
  position: absolute;
  top:100px;
  left:55px;
}
#two {
  position: absolute;
  top:100px;
  left:120px;
}
#three {
  position: absolute;
  top:100px;
  left:185px;
}
#four {
  position: absolute;
  top:160px;
  left:55px;
}
#five {
  position: absolute;
  top:160px;
  left:120px;
}
#six {
  position: absolute;
  top:160px;
  left:185px;
}
#seven {
  position: absolute;
  top:220px;
  left:55px;
}
#eigth {
  position: absolute;
  top:220px;
  left:120px;
}
#nine {
  position: absolute;
  top:220px;
  left:186px;
}

#zero {
  position: absolute;
  top:280px;
  left:120px;
}
/*------------------------------------------------------------*/

.operations {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #83B9F7;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 0 0 0;
  display:block;
}

/*---- operations button Positions ------------------------*/

#sum {
  position: absolute;
  top:100px;
  left:303px;
}

#subtract {
  position: absolute;
  top:160px;
  left:303px;
}

#multiplication {
  position: absolute;
  top:220px;
  left:303px;
}

#division {
  position: absolute;
  top:280px;
  left:303px;
}

#equal {
  position: absolute;
  top:280px;
  left:245px;
}

#delete {
  position: absolute;
  top:100px;
  left:245px;
}
